<% # -*- coding: UTF-8 -*- %>
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<h1>Таварчики захуярчики</h1>
  <% cache ['store', Good.latest] do %>
    <% @goods.each do |good| %>
    <% cache ['entry', good] do %>
      <div class="entry">
        <%= image_tag(good.image_url) %>
        <h3><%= good.title %></h3>
        <%= sanitize(good.description) %>
        <div class="price_line">
          <span class="price"><%= number_to_currency(good.price) %></span>
          <%= button_to 'въебабулить', line_items_path(good_id: good) %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
